@charset "UTF-8";

body {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.container-fluid {
	min-height: 265px;
    height: auto;
    margin-bottom: 30px;
}

div.col {
	display:inline-block;
	width: 33%;
}